.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  display: flex;
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 2rem;
  gap: 4rem;
}

.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
