.selected {
  display: flex;
  align-items: center;
  width: 40rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  background-color: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--input-border);
  border-radius: 2rem;
  font-size: 2rem;
  transition: all 0.2s ease;
  outline: none;
  padding: 1rem;
}

.option {
  font-size: 2rem;
}
