.card {
  display: flex;
  align-items: stretch;
  width: 40rem;
  height: 60rem;
  justify-content: center;
  flex-direction: column;
  background-color: var(--card-border);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: var(--card-shadow);
  gap: 1rem;
}
.cardImg {
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.cardTitle,
.cardEpisode,
.cardDuration,
.cardFind,
.cardSimilarity,
.cardWatch,
span {
  font-size: 2rem;
  color: var(--text-regular);
}

a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;

  color: #fff;
}
